input[type="search"]{
    all: unset;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.containerSearch{
    display: flex;
    width: 100%;
    justify-content: center;
}

.containerSearch > svg > path{
    transition: 0.3s; 
    cursor: pointer;
}

.containerSearch > svg:hover > path{stroke: #0C9FF7 !important;}

.search{display: flex; }

.searchLabel{
    display: flex;
    width: 650px;
    border: solid 3px #F88F03;
    border-radius: 24px;
    transition: 0.3s;
    margin-right: 22px;
    cursor: text;
}

.searchLabel:focus-within{border-color: #0C9FF7}

#demandaSearch{
    width: 94%;
    margin-left: 12px;
}

.searchIcon{
    margin-right:12px;
    margin-left: 8px;
    margin-top: 10px;
}

.searchIcon > path{transition: 0.3s}

input[type="search"]:focus + .searchIcon > path{fill: #0C9FF7 !important}

.tabelaDemandas{
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 45px;
    overflow: hidden;
    margin-bottom: 10px;
}

th{position: relative;}

.tabelaIconeSeta{
    margin-left: 5px;
    top: 24px;
    position: absolute;
    transition: 0.3s;
}

thead th, thead th.active .tabelaIconeSeta path{transition: 0.3s; cursor: pointer;}

thead th.active, tbody td.active{color: #0C9FF7 !important;}

thead th.active .tabelaIconeSeta path{
    fill: #0C9FF7 !important;
}

.tabelaDemandas, .tabelaDemandas th, .tabelaDemandas td{
    padding: 16px;
    border-collapse: collapse;
}

.tabela{
    margin-top: 30px;
    width:100%; 
    overflow: auto;
}

.tabela::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

.tabela::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: #F88F03;
    visibility: hidden;
}

.tabela:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

.tabela table{width: 100%}

.tabela th{
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: solid 3px #D9D9D9;
}

.tabela td{text-align: center}


.item{transition: 0.3s}

.item:hover{
    color: #0C9FF7;
    cursor: pointer;
    background-color: #e6e6e6;
}

.item{
    --delay: 0.1s;
    transition: 0.5s ease-in-out var(--delay), background-color 0s;
}

.item.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr td, tbody tr td p{
    transition: 0.2s ease-in-out 0.5s;
}

tbody tr.hide td, tbody tr.hide td p{
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: 0.2s ease-in-out 0.5s;
}

.detalhes{
    display: none;
}

.informacoesDetalhadas{
    height: 300px;
    border-top: solid 3px #D9D9D9;
    border-bottom: solid 3px #D9D9D9;
    text-align: start;
}

.informacoesDetalhadas h3{
    color: #444444;
    font-size: 24px;
}

.informacoesDetalhadas h4, p{
    color: #777777;
    font-size: 20px;
    font-weight: 500;
}

.itemSelecionado {
    color: #0C9FF7 !important;
    background-color: #e6e6e6 !important;
}

.tabelaContato{
    display: flex;
    width: 100%;
    padding: 20px;
}

.tabelaInstagram{margin-left: 70px}

.tabelaTelefone{margin-left: 70px}

.tabelaPedido{
    padding: 20px;
}

.mostrarDetalhes{
    display: table-row;
}

.status{
    margin: 0 auto;
    width: 70%;
    padding: 5px 5px;
    font-size: 18px;
    border-radius: 10px;
}

.status.emProgresso{
    background-color: #ffd90046;
    color: #d68b00;
}

.status.completo{
    background-color: #08e22c34;
    color: #26af26;
}

.status.aberto{
    background-color: #1f87a436;
    color: #1F88A4;
}

.status.cancelado{
    background-color: #ff666631;
    color: #c92306;
}

@media (max-width: 1006px){
    .status{width: 100%}
}

@media (max-width: 950px){
    .search{width: 80%}
}

