/*Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}

body{
    overflow-x: hidden;
    min-height: 100%;
}

a, button, input[type="submit"], input[type="reset"]{/*Remover estilos, adicionar ponteiro*/
    all: unset; 
    cursor: pointer;
}

/*Textos*/
h1{
    color: #0C9FF7;
    font-style: normal;
    font-size: 64px;
    font-weight: 850;
}

h2{
    color: #F88F03;
    font-style: normal;
    font-size: 52px;
    font-weight: 700;
}

p{  
    color: #444444;
    font-style: normal;
    font-size: 30px;
    font-weight: 600;
}

/*Componentes*/
button, input[type="submit"], input[type="reset"]{
    background-color: #0C9FF7;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    transition: 0.3s;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover{background-color: #046EAB}

a{
    font-style: normal;
    font-weight: 700;
    color: #444444;
    transition: 0.25s;
}

a:hover{color: #4AC5FF}

/*Container do Conteúdo*/
main{width: 100%}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 90px;
}

/*Tamanhos para cada tipo de Tela*/
@media (min-width: 1008px){/*Desktop*/
    button, input[type="submit"], input[type="reset"]{
        border-radius: 18px;
        font-size: 30px;
        padding: 12px 29px;
    }

    h1{font-size: 64px}

    h2{font-size: 52px}

    p{font-size: 30px}
}

@media (min-width: 641px) and (max-width: 1007px){/*Tablet*/
    button, input[type="submit"], input[type="reset"]{
        border-radius: 15px;
        font-size: 25px;
        padding: 8px 18px;
    }
    
    h1{font-size: 52px}

    h2{font-size: 45px}

    p{font-size: 25px}
}

@media (max-width: 640px){/*Mobile*/
    button, input[type="submit"], input[type="reset"]{
        border-radius: 10px;
        font-size: 18px;
        padding: 5px 10px;
    }

    h1{font-size: 35px}

    h2{font-size: 28px}

    p{font-size: 18px}

    .container{padding: 0 30px;}
}