header{
    width: 100%;
    height: auto;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 40px 95px;
}

.logoBrand{
    color: #0C9FF7;
    font-style: normal;
    font-weight: 700;
}

.navMenu{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    height: 100%;
    list-style: none;
}

.navMenu > li{
    margin-left: 30px;
    display: inline-block;
}

.hamburgerMenu{
    top: 35px;
    right: 95px;
    position: absolute;
    z-index: -1;
    color: #0C9FF7;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

.hamburgerMenuItems{
    width: 100%;
    height: 100%;
    border-top: 3px solid #F88F03;
    text-align: center;
    transition: 0.5s;
}

.hamburgerMenuItems > li{
    padding: 20px 0;
    margin: 0;
    font-size: 20px;
    border-bottom: 3px solid #EEEEEE;
    background-color: #FFFFFF;
}

@media (min-width: 1008px){/*Desktop*/
    .brand{width: 50%}
    
    .logo{
        width: 180px;
        height: 45px;
    }

    .logoBrand{font-size: 22px}
    
    .nav{width: 50%}

    .hamburgerMenuItems{
        display: none;
    }

    .hamburgerMenu{opacity: 0}
}

@media (max-width: 1007px){/*Mobile e Tablet*/
    .brand{width: 90%}

    .nav{width: 10%}

    .navMenu{display: none}

    .hamburgerMenu{
        opacity: 1;
        z-index: 1;
    }

    #hambOpen{
        position: absolute;
        color: #0C9FF7;
        top: 0;
        right: 0;
        transition: transform 0.3s;
        opacity: 1;
    }
    
    #hambClose{
        position: absolute;
        color: #FF3333;
        top: 0;
        right: 0;
        transition: 0.3s;
        opacity: 0;
        transform: scale(0);
        transition: transform 0.3s;
    }

    .hamburgerMenuItems{
        position: absolute;
        z-index: -1;
    }
    
    /*Funcionamento do Menu Hamburger*/
    #hamburgerMenuItems.active{
        opacity: 1 !important;
        z-index: 1 !important;
    }

    #hambClose.active{
        opacity: 1;
        transition: transform 0.2s;
    }

    #hambOpen.active{
        opacity: 0;
        transform: scale(0);
        transition: transform 0.2s;
    }
}

@media (min-width: 641px) and (max-width: 1007px){/*Tablet*/
    .logo{
        width: 145px;
        height: 35px;
    }

    #hambOpen{
        transform: scale(1.5);
    }
    
    #hambClose.active{  
        transform: scale(1.5);
    }
}

@media (max-width: 640px){/*Mobile*/
    .headerContainer{
        padding: 40px 30px;
    }

    .logo{
        width: 110px;
        height: 25px;
    }

    .logoBrand{font-size: 18px}

    .hamburgerMenu{font-size: 30px; right: 30px;}

    #hambOpen{
        transform: scale(1.6);
    }
    
    #hambClose.active{
        transform: scale(1.6);
    }
}


